
ol, ul {
  list-style: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  /*border-spacing: none;*/
}
.skin_color {
  color:#487922
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}


body{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  background: #f3f3f3;
  color: #666;
}
h1, h2, h3, h4, h5,h6 {
  font-family: 'Oswald', sans-serif;
}
h1 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
a:hover,
a:focus,
a:active {
  color: #487922;
  text-decoration: none;
}
main {
  background: #fff;
  padding: 20px;
}
.container nav ul{
  display: flex;
  flex-direction: row;
  padding: 10px;

}
.container nav ul li a {
  color: #fff;
  padding-right: 30px;
  text-decoration: none;
}

.block {
  border: 2px solid #666;
  background: gainsboro;
  margin: 20px;
  padding: 20px;
}
.flex-item {
  width: 400px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}





.site-content {
  padding: 30px;
}




.calc-res {
  font-size: 1.2rem;
}
.calc-res li {
  margin: 10px 0;
}


